<div class="container marTop100">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">Transport<span class="regType"> Expenses</span> </h3>
    </div>
    <div class="col-lg-12">
			<%= render 'form' %>
		</div>
  </div>
</div>
<%= link_to 'Back', transport_expenditures_path %>
